* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  /* background-color: linear-gradient(#D8C7FF #19006C); */
  background: linear-gradient(-45deg,
      #ffffff,
      #ffe4e9,
      #fcc8e2,
      #f6baed,
      #efb0ff,
      #d3a2ff,
      #8eb8ff,
      #91efff,
      #d5f9ff);
}